<section class="section">
  <h3>News</h3>
  <div class="grid">
    <article class="surface">
      <h4><a href="/news/feature-1">Headline goes here</a></h4>
      <small>October 9, 2025</small>
      <p>Short summary of a recent announcement or milestone.</p>
      <a href="/news">Read more</a>
    </article>
    <article class="surface">
      <h4><a href="/news/feature-2">Another update</a></h4>
      <small>May 9, 2025</small>
      <p>Another brief description to showcase momentum.</p>
      <a href="/news">Read more</a>
    </article>
  </div>
</section>
